*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
}
.Header{
    max-width: 2000px;
    height: 63px;
    background-color: white;
    margin-top: 20px;
}
.logo{
    width: 150px;
    height: 63px;
    margin-left: 70px;
    margin-right: 80px;
    display: inline-block;
}
.menu{
    width: 420px;
    height: 63px;
    display: inline-block;
    vertical-align: top;
    margin-right: 65px;
    margin-left: px;
}

ul{
    list-style-type: none;
}
li {
    display: inline-block;
}
li a{
    text-decoration:none;
    font-size: 15px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, 
     Ubuntu, Cantarell, 'Open Sans', 
     'Helvetica Neue', sans-serif;
     font-weight: 600;
     padding: 0px 20px;
     height: 63px;
     display: inline-block;
     line-height: 63px;
 }
 li a:hover{
     text-decoration: underline;
 }
 .menu2{

     width: 550px;
     height: 63px;
     border: 5px solid #FC7B5B;
     border-radius: 1px 50px;
     margin: 0px;
     display: inline-block;
     background-color: #FC7B5B;
 }
 .button{
     display: inline-block;
     padding-left: 150px;
 }
