*{
    margin: 0;
    padding: 0;
}
body{
    background-color: teal;
}
.Header{
    min-width: 2000px;
    height: 63px;
    background-color: white;
    margin-top: 20px;
}
.logo{
    width: 180px;
    height: 63px;
    margin-left: 300px;
    margin-right: 50px;
    display: inline-block;
}
.menu{
    width: 500px;
    height: 63px;
    display: inline-block;
    vertical-align: top;
    margin-right: 144px;
}

ul{
    list-style-type: none;
}
li {
    display: inline-block;
}
li a{
    text-decoration:none;
    font-size: 15px;
    color: black;
    font-family: -apple-system, BlinkMacSystemFont,
     'Segoe UI', Roboto, Oxygen, 
     Ubuntu, Cantarell, 'Open Sans', 
     'Helvetica Neue', sans-serif;
     font-weight: 600;
     padding: 0px 20px;
     height: 63px;
     display: inline-block;
     line-height: 63px;
 }
 li a:hover{
     text-decoration: underline;
 }
 .menu2{
     width: 600px;
     height: 63px;
     display: inline-block;
 }
